* { box-sizing: border-box; }

body { 
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
}

.listings,
.map {
  height: 50%;
  position: absolute;
  width: 100%;
}

.map {
  top: 0;
}

h1 {
  top: 50%;
}

.listings {
  background: $bg-dark;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: 50%;
  z-index: 100;
}

.mb-watermark {
  bottom: 49%;
  left: 10px;
  position: absolute;
}

@media (min-width: 700px) {
  .map { 
    bottom: 0;
    height: 100%;
    right: 0;
    width: 100%;
  }
  
  h1 {
    background: $black;
    left: 0;
    padding: 10px 15px 0;
    position: fixed;
  }
  
  h1,
  .listings {
    max-width: 350px;
    min-width: 240px;
    top: 0;
    width: 30%;
  }
  
  .mb-watermark {
    bottom: 0;
    margin-left: 31%;
  }
  
  .listings {
    background: rgba($bg-dark, .85);
    border-right: 1px solid $black;
    bottom: 0;
    height: 100%;
    padding-bottom: 100vh;
    
    .legend {
      padding-top: 3em;
    }
  }
}

@media (min-width:1180px)  {
  .mb-watermark {
    margin-left: 360px;
  }
}
