.item {
  display: block;
  padding: 10px 15px;
}

.item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.title {
  display: block;
}

.item-details {
  display: none;
  opacity: 0;
}

.legend {
  background: #000;
  color: $font-color-light;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  
}

.item:not(.active) .marker {
  color: rgba($font-color-light,.5);
}

.listings .active .title,
.listings .title:hover { color: $link-hover; }

.listings .active {
  background-color: $font-color-light;
}

.listings .active .item-details {
  font-size: $font-size;
  display: block;
  -webkit-animation: show .5s forwards;
  animation: show .5s forwards;
}

.tweet {
  display: block;
  background: $link-color;
  color: $font-color-light;
  margin: 0 -15px -10px;
  padding: 15px 10px;
  line-height: 1.25;
  &:hover {
    background: $link-hover; 
    color: $font-color-light; 
  }
}


.tweet-content {
  width: 80%;
  margin-left: 10px;
}

@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}