.title {
  margin-bottom: 0;
}
.title,
.season-title,
h1 {
  font-family: $special-font;
  font-weight: 400;
  font-size: $font-size * 1.3;
}

.listings h1 { 
  text-transform: uppercase;

  
  span {
    border: 1px solid red;
    width: 25px;
    display: inline-block;
    border-radius: 100%;
    height: 25px;
    line-height: 1;
    padding-left: 6px;
    padding-top: 4px;
  }
  
}

.small {
  color: lighten($font-color, 10%);
  font-size: $font-small;
  font-family: $font-family;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
}

.season-title {
  color: $font-color-light;
}


