$bg-dark: #111;
$black: #000;
$red: #f00;

$font-family: 'Metrophobic', sans-serif;
$font-size: 14px;
$font-color: #333;
$font-color-light: #f8f8f8;

$font-small: 12px;

$special-font: 'Special Elite', cursive;

$link-color: #00853e;
$link-hover: #8cc63f;

